@model AspNetIdentity.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}

@if (TempData["passwordResetInfo"] != null)
{
    <div class="alert alert-info">@TempData["passwordResetInfo"]</div>
}
else
{
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Parola Sıfırlama</h1>
            <hr />
            <form asp-action="ResetPasswordConfirm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yeni Parola Oluştur" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

}