@model AspNetIdentity.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "Parola Sıfırlama";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Parola Sıfırla</h1>
        <hr />
        <div class="alert alert-info">
            Parola sıfırlamak için kayıtlı email adresinizi giriniz.
            Parola sıfırlama linkini email adresinize göndereceğiz.
        </div>
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sıfırla" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>